nav {
  background-color: #171717;
  height: 5%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 105%;
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-out;
}

.fadeScratches-appear {
  opacity: 0.01;
}

.fadeScratches-appear.fadeScratches-appear-active {
  /* opacity: 0.6; */
  transition: opacity 1s ease-in;
}

.fadeScratches-leave {
  opacity: 0.6;
}

.fadeScratches-leave.fadeScratches-leave-active {
  opacity: 0.01;
  transition: opacity 2000ms ease-out;
}

.intro-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}

.intro-logo {
  width: 40%;
  height: auto;
}

.navbar {
  display: grid;
  grid-template-columns: 75% 25%;
}

.top-image {
  width: 100%;
  height: auto;  
}

.nav-logo{
  width: 50%;
}

.logo {
  width: 10%;
  height: auto;
  margin-left: 2vw;
  margin-top: 1vw;
  position: absolute;
  z-index: 1;
}

.choices-list {
  list-style: none;
  padding-right: 2%;
  padding-left: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1%;
  justify-content: space-evenly;
  justify-items: end;
  align-items: center;
  position: relative;
}

.background-scratches {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: fixed;
  z-index: -1;
}
