nav {
  height: 5%;
}

a {
  color: white;
  text-decoration: none;
  font-size: 105%;
}

.intro-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100vh;
}

.intro-logo {
  width: 40%;
  height: auto;
}

.navbar {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

.top-image {
  width: 100%;
  height: auto;  
}

.nav-logo{
  width: 50%;
}

.logo {
  width: 10vw;
  height: auto;
  margin-left: 2vw;
  margin-top: 1vw;
  /* position: absolute; */
  z-index: 1;
}

.background-scratches {
  width: 100%;
  height: 100%;
  opacity: 0.15;
  position: fixed;
  z-index: -1;
}

.about-container {
  display: grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows: 50% 50%;
  align-items: center;
}

.misty-container {
  grid-area: 1/1/2/4;
  align-self: start;
  width: 100%;
}

.misty {
  /* position: relative; */
  width: 100%;
  /* object-fit: cover; */
  margin-top: -15%;
}

.clever-words {
  grid-area: 1/2/2/3;
  margin-top: 20%;
  align-self: start;
  color: #171717;
  z-index: 1;
}

.words {
  font-size: 1.25em;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f8f8f8;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay a {font-size: 20px}
.overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
}
}

.hamburger {
  font-size:30px;
  justify-self: end;
  cursor:pointer;
  color: #f8f8f8;
  text-shadow: -2px 2px 2px #171717;
  z-index: 2;
  margin-right: 5%;
}

#myNav {
  z-index: 2;
}

.material-icons {
  margin-top: 10%;
  font-size: 36px;
}

.home-container {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
  grid-template-rows: 55vh 40vh;
  justify-items: center;
  align-items: center;
}

.greeting {
  grid-column-start: 2;
}

.hi{
  text-align: center;
  color: #f8f8f8;
  font-size: 40px;
}

.name {
  color: #bada55;
  text-shadow: 0px -1px 1px #171717;
}

.description {
  text-align: center;
  color: #f8f8f8;
}

.project-container {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  justify-items: center;
}

.project-display {
  grid-column-start: 2;
}

.project-head {
  display: inline-block;
  margin-left: 10%;
  line-height: 0;
}

.project-title {
  display: inline-block;
  color: #f8f8f8;
}

.line-break {
  border-color: #bada55;
}

.project-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
}

.project {
  width: 400px;
  height: 250px;
  margin: 1vw;
  border-radius: 2%;
  border: 1px solid #171717;
  align-content: center;
  overflow: hidden;
  position: relative;
}

#project1 {
  background-color: blue;
}

.project-shot {
  width: 100%;
  position: absolute;
}

#project2 {
  background-color: red;
}

#project3 {
  background-color: white;
}

#project4 {
  background-color: orange;
}